In [ ]:
#%pip install sqlalchemy
#%pip install mysql-connector-python

See SQLAlchemy tutorial for more details: https://sqla-tutorials-nb.readthedocs.io/en/latest/index.html

In [1]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.sql import text
import pandas as pd

#  Database connection URI structure: [DB_TYPE]+[DB_CONNECTOR]://[USERNAME]:[PASSWORD]@[HOST]:[PORT]/[DB_NAME]
connection_string = 'mysql+mysqlconnector://root:Kuaucu123!@localhost:3306/oscar_default'
engine = create_engine(connection_string,echo=True, pool_size=5, pool_recycle=3600)
connection = engine.connect()
#Session = sessionmaker(bind=engine)
#session = Session()
#session.query(transactions).all()

2023-05-10 12:05:07,950 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-05-10 12:05:07,951 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-10 12:05:07,952 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-05-10 12:05:07,953 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-10 12:05:07,954 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-05-10 12:05:07,955 INFO sqlalchemy.engine.Engine [raw sql] {}

In [24]:
# read to pandas dataframe
pd.read_sql_table('transactions', connection)
pd.read_sql_query(text("SELECT * FROM transactions"), connection)

2023-05-10 13:17:21,930 INFO sqlalchemy.engine.Engine DESCRIBE `oscar_default`.`transactions`
2023-05-10 13:17:21,932 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-10 13:17:21,937 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `oscar_default`
2023-05-10 13:17:21,938 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-10 13:17:21,942 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `transactions`
2023-05-10 13:17:21,943 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-10 13:17:21,950 INFO sqlalchemy.engine.Engine SELECT transactions.transaction_time, transactions.transaction_amount
FROM transactions
2023-05-10 13:17:21,951 INFO sqlalchemy.engine.Engine [generated in 0.00153s] {}
2023-05-10 13:17:21,962 INFO sqlalchemy.engine.Engine SELECT * FROM transactions
2023-05-10 13:17:21,963 INFO sqlalchemy.engine.Engine [cached since 4333s ago] {}

       transaction_time  transaction_amount
0   2021-01-16 00:05:54               25.05
1   2021-01-07 20:53:04              124.00
2   2021-01-18 22:55:37               66.58
3   2021-01-21 00:36:57                9.99
4   2021-01-19 06:31:10               22.27
..                  ...                 ...
109 2021-01-11 00:06:39               87.10
110 2021-01-01 02:01:09              518.20
111 2021-01-15 20:55:58               47.72
112 2021-01-02 00:09:43               49.00
113 2021-01-08 00:49:22               31.61

[114 rows x 2 columns]

SQLAlchemy can serve two purposes: making SQL interactions easier, and serving as a full-blown ORM.

In [32]:
# RAW SQL: Create table using raw sql (I)
connection.execute(text("DROP TABLE example"))

connection.execute(text("CREATE TABLE example (id INTEGER, name VARCHAR(20))"))
connection.execute(text("INSERT INTO example (name) VALUES (:name)"), {"name": "Ashley"})
connection.execute(text("INSERT INTO example (name) VALUES (:name)"), [{"name": "Barry"}, {"name": "Christina"}])
connection.commit()

## Query data
#result = connection.execute(text("SELECT * FROM example WHERE name = :name"), dict(name="Ashley"))
result = connection.execute(text("SELECT * FROM example WHERE name = :name"), {"name":"Ashley"})

for row in result.mappings():  # mappings() turn the row into a read-only dictionary
    print("Author:" , row["name"])

2023-05-10 13:25:06,370 INFO sqlalchemy.engine.Engine DROP TABLE example
2023-05-10 13:25:06,372 INFO sqlalchemy.engine.Engine [cached since 4091s ago] {}
2023-05-10 13:25:06,387 INFO sqlalchemy.engine.Engine CREATE TABLE example (id INTEGER, name VARCHAR(20))
2023-05-10 13:25:06,387 INFO sqlalchemy.engine.Engine [cached since 4258s ago] {}
2023-05-10 13:25:06,399 INFO sqlalchemy.engine.Engine INSERT INTO example (name) VALUES (%(name)s)
2023-05-10 13:25:06,400 INFO sqlalchemy.engine.Engine [cached since 4099s ago] {'name': 'Ashley'}
2023-05-10 13:25:06,402 INFO sqlalchemy.engine.Engine INSERT INTO example (name) VALUES (%(name)s)
2023-05-10 13:25:06,402 INFO sqlalchemy.engine.Engine [cached since 4099s ago] [{'name': 'Barry'}, {'name': 'Christina'}]
2023-05-10 13:25:06,404 INFO sqlalchemy.engine.Engine COMMIT
2023-05-10 13:25:06,406 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 13:25:06,407 INFO sqlalchemy.engine.Engine SELECT * FROM example WHERE name = %(name)s
2023-05-10 13:25:06,408 INFO sqlalchemy.engine.Engine [cached since 4099s ago] {'name': 'Ashley'}
Author: Ashley

In [48]:
# Plain SQL: Create table using raw sql (II)
data = ( { "book_id": 6,
          "book_price": 400,
          "genre": "fiction",
          "book_name": "yoga is science" },
          
         { "book_id": 7, 
          "book_price": 800, 
          "genre": "non-fiction",
          "book_name": "alchemy tutorials" }
)

connection.execute(text("DROP TABLE books"))
connection.execute(text("CREATE TABLE books (book_id INTEGER, book_price INTEGER, genre VARCHAR(20), book_name VARCHAR(20))"))

# write the insert statement
statement = text("INSERT INTO books (book_id, book_price, genre, book_name) VALUES(:book_id, :book_price, :genre, :book_name)")
  
#insert the data one after other using execute
# statement by unpacking dictionary  elements
for line in data:
    connection.execute(statement, line)
connection.commit()
# write the SQL query to check
# whether the records are inserted
sql = text("SELECT * FROM books")
  
results = connection.execute(sql)
  
# View the records
for record in results.mappings():
    print("\n", record)

2023-05-10 13:29:18,603 INFO sqlalchemy.engine.Engine DROP TABLE books
2023-05-10 13:29:18,605 INFO sqlalchemy.engine.Engine [cached since 4118s ago] {}
2023-05-10 13:29:18,619 INFO sqlalchemy.engine.Engine CREATE TABLE books (book_id INTEGER, book_price INTEGER, genre VARCHAR(20), book_name VARCHAR(20))
2023-05-10 13:29:18,620 INFO sqlalchemy.engine.Engine [cached since 3934s ago] {}
2023-05-10 13:29:18,633 INFO sqlalchemy.engine.Engine INSERT INTO books (book_id, book_price, genre, book_name) VALUES(%(book_id)s, %(book_price)s, %(genre)s, %(book_name)s)
2023-05-10 13:29:18,634 INFO sqlalchemy.engine.Engine [cached since 3513s ago] {'book_id': 6, 'book_price': 400, 'genre': 'fiction', 'book_name': 'yoga is science'}
2023-05-10 13:29:18,637 INFO sqlalchemy.engine.Engine INSERT INTO books (book_id, book_price, genre, book_name) VALUES(%(book_id)s, %(book_price)s, %(genre)s, %(book_name)s)
2023-05-10 13:29:18,639 INFO sqlalchemy.engine.Engine [cached since 3513s ago] {'book_id': 7, 'book_price': 800, 'genre': 'non-fiction', 'book_name': 'alchemy tutorials'}
2023-05-10 13:29:18,641 INFO sqlalchemy.engine.Engine COMMIT
2023-05-10 13:29:18,644 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 13:29:18,646 INFO sqlalchemy.engine.Engine SELECT * FROM books
2023-05-10 13:29:18,648 INFO sqlalchemy.engine.Engine [cached since 3513s ago] {}

 {'book_id': 6, 'book_price': 400, 'genre': 'fiction', 'book_name': 'yoga is science'}

 {'book_id': 7, 'book_price': 800, 'genre': 'non-fiction', 'book_name': 'alchemy tutorials'}

#Using SQLAlchemy ORM to write queries

The idea behind ORM (object-relational mapping) is to create a code representation of your database using classes and objects instead of writing raw SQL statements. The classes represent the tables in your database, and the objects of those classes represent rows. So the first step to using ORM is to define classes that map to your tables. Classes that represent tables in an ORM are called models.

The fundamental transactional / database interactive object when using the ORM is called the Session. In modern SQLAlchemy, this object is used in a manner very similar to that of the Connection

In [57]:
# Setting up MetaData with Table objectsÂ¶

from sqlalchemy import MetaData
metadata = MetaData()

from sqlalchemy import Table, Column, Integer, String
user_table = Table(
    "user_account",
    metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String(30)),
    Column('fullname', String(30))
)

from sqlalchemy import ForeignKey
address_table = Table(
    "address",
    metadata,
    Column('id', Integer, primary_key=True),
    Column('user_id', ForeignKey('user_account.id'), nullable=False),
    Column('email_address', String(20), nullable=False)
)

metadata.create_all(engine)

# Create table object from existing table in database
books = Table("books", metadata, autoload_with=engine)
books

2023-05-10 13:54:50,779 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 13:54:50,781 INFO sqlalchemy.engine.Engine DESCRIBE `oscar_default`.`user_account`
2023-05-10 13:54:50,783 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-10 13:54:50,788 INFO sqlalchemy.engine.Engine DESCRIBE `oscar_default`.`address`
2023-05-10 13:54:50,789 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-10 13:54:50,793 INFO sqlalchemy.engine.Engine
CREATE TABLE address (
	id INTEGER NOT NULL AUTO_INCREMENT,
	user_id INTEGER NOT NULL,
	email_address VARCHAR(20) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES user_account (id)
)


2023-05-10 13:54:50,794 INFO sqlalchemy.engine.Engine [no key 0.00175s] {}
2023-05-10 13:54:50,819 INFO sqlalchemy.engine.Engine COMMIT

In [62]:
# Defining Table Metadata with the ORM
from sqlalchemy.orm import registry
mapper_registry = registry()
mapper_registry.metadata

Base = mapper_registry.generate_base()

from sqlalchemy.orm import relationship
class User(Base):
    __tablename__ = 'user_account'

    id = Column(Integer, primary_key=True)
    name = Column(String(30))
    fullname = Column(String(30))

    addresses = relationship("Address", back_populates="user")

    def __repr__(self):
       return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r})"

class Address(Base):
    __tablename__ = 'address'

    id = Column(Integer, primary_key=True)
    email_address = Column(String(30), nullable=False)
    user_id = Column(Integer, ForeignKey('user_account.id'))

    user = relationship("User", back_populates="addresses")

    def __repr__(self):
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"
    
# emit CREATE statements given ORM registry
mapper_registry.metadata.create_all(engine)

2023-05-10 14:04:27,837 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 14:04:27,837 INFO sqlalchemy.engine.Engine DESCRIBE `oscar_default`.`user_account`
2023-05-10 14:04:27,837 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-10 14:04:27,837 INFO sqlalchemy.engine.Engine DESCRIBE `oscar_default`.`address`
2023-05-10 14:04:27,837 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-10 14:04:27,837 INFO sqlalchemy.engine.Engine
CREATE TABLE user_account (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(30),
	fullname VARCHAR(30),
	PRIMARY KEY (id)
)


2023-05-10 14:04:27,837 INFO sqlalchemy.engine.Engine [no key 0.00080s] {}
2023-05-10 14:04:27,858 INFO sqlalchemy.engine.Engine
CREATE TABLE address (
	id INTEGER NOT NULL AUTO_INCREMENT,
	email_address VARCHAR(30) NOT NULL,
	user_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES user_account (id)
)


2023-05-10 14:04:27,858 INFO sqlalchemy.engine.Engine [no key 0.00086s] {}
2023-05-10 14:04:27,879 INFO sqlalchemy.engine.Engine COMMIT

In [52]:
print(user_table.c.keys())

Column('name', String(length=30), table=<user_account>)

In [ ]:
# Create Table
#Insert data
#Query the data